@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
body {
    background-color: rgb(1, 1, 38);
    color: #FFF;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
}

#title {
    flex-direction: column;
    line-height: 10px;
    font-size: 30px;
}

li {
    display: inline-block;
    margin: 20px;
}

li a {
    color: #FFF;
    text-decoration: none;
}

li a:hover {
    color: rgb( 8, 15, 212);
    transition: .3s all;
}

#botao-menu {
    border: 3px solid rgb( 8, 15, 212);
    border-radius: 15px;
    padding: 15px;
}

#botao-menu:hover {
    background-color: rgb( 8, 15, 212);
    color: #FFF;
}

img {
    width: 630px;
    border-radius: 25px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    gap: 50px;
}

h2 {
    font-size: 56px;
    line-height: 10px;
    font-weight: 900;
}

h2 span {
    color:rgb( 8, 15, 212);
}

p {
    line-height: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-top: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
}

form [type="submit"] {
    height: 50px;
    background-color: rgb(8 ,15, 212);
    color: #FFF;
    font-weight: bold;
    transition: .3s all;
}

form [type="submit"]:hover {
    cursor: pointer;
    background-color: rgb(1, 1, 24);
    color: #FFF;
}